# See https://github.com/alexkaratarakis/gitattributes/blob/master/LICENSE.md

* text=auto
*.*ignore text
*.*rc text
*.3gp binary
*.3gpp binary
*.7z binary
*.adoc text
*.ai binary
*.as binary
*.asf binary
*.asx binary
*.bash text eol=lf
*.bat text eol=crlf
*.bibtex text diff=bibtex
*.bmp binary
*.cmd text eol=crlf
*.cnf text
*.coffee text
*.conf text
*.config text
*.css text
*.csv text
*.DOC diff=astextplain
*.DOCX diff=astextplain
*.DOT diff=astextplain
*.dot text
*.ejs text
*.eot binary
*.eps binary
*.exe binary
*.fish text eol=lf
*.fla binary
*.flv binary
*.gif binary
*.gifv binary
*.gz binary
*.haml text
*.handlebars text
*.hbs text
*.hbt text
*.htm text diff=html
*.html text diff=html
*.ico binary
*.inc text
*.ini text
*.ipynb text
*.jade text
*.jar binary
*.jng binary
*.jp2 binary
*.jpeg binary
*.jpg binary
*.jpx binary
*.js text
*.json text
*.jsx text
*.jxr binary
*.kar binary
*.latte text
*.less text
*.lock text -diff
*.ls text
*.m4a binary
*.m4v binary
*.map text -diff
*.markdown text
*.md text
*.mdown text
*.mdtext text
*.mdtxt text
*.mdwn text
*.mid binary
*.midi binary
*.mkd text
*.mkdn text
*.mng binary
*.mov binary
*.mp3 binary
*.mp4 binary
*.mpeg binary
*.mpg binary
*.mustache text
*.njk text
*.od text
*.ogg binary
*.ogv binary
*.onlydata text
*.otf binary
*.patch -text
*.pdf binary
*.PDF diff=astextplain
*.php text diff=php
*.phtml text
*.pl text
*.png binary
*.ps1 text eol=crlf
*.psb binary
*.psd binary
*.py text diff=python
*.pyc binary
*.ra binary
*.rar binary
*.rb text diff=ruby
*.RTF diff=astextplain
*.sass text
*.scm text
*.scss text diff=css
*.sh text eol=lf
*.sql text
*.styl text
*.svg text
*.svgz binary
*.swc binary
*.swf binary
*.tab text
*.tag text
*.tar binary
*.tex text diff=tex
*.textile text
*.tgz binary
*.tif binary
*.tiff binary
*.tmpl text
*.toml text
*.tpl text
*.ts text
*.tsv text
*.tsx text
*.ttf binary
*.twig text
*.txt text
*.vue text
*.wbmp binary
*.webm binary
*.webp binary
*.woff binary
*.woff2 binary
*.xhtml text diff=html
*.xml text
*.yaml text
*.yml text
*.zip binary
*COPYRIGHT* text
*README* text
.editorconfig text
.env text
.gitattributes export-ignore
.gitattributes text
.gitconfig text
.gitignore export-ignore
.htaccess text
AUTHORS text
browserslist text
CHANGELOG text
CHANGES text
CONTRIBUTING text
COPYING text
copyright text
Dockerfile text
INSTALL text
LICENSE text
makefile text
NEWS text
package-lock.json text -diff
Procfile text
readme text
TODO text