{
	"defaultSeverity": "warning",
	"extends": [
		"stylelint-config-standard",
		"stylelint-8-point-grid",
		"stylelint-prettier/recommended"
	],
	"plugins": [
		"stylelint-scss",
		"stylelint-declaration-block-no-ignored-properties"
	],
	"rules": {
		"max-nesting-depth": 2,
		"at-rule-no-unknown": null,
		"scss/at-rule-no-unknown": true,
		"scss/at-extend-no-missing-placeholder": true,
		"plugin/declaration-block-no-ignored-properties": true
	}
}
